/* CSS para MBU Zona Centro de Jazmín Isol Prado */

body {
	background: #fff;
	font-family: 'Quicksand', sans-serif;
    margin:0; 
}

h1 {
    display: block;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin: 50px 0;
}


p {
    font-family: 'Quicksand', sans-serif; 
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.8;
}

footer {
    background: #980abc;
    height: auto;
    float: left;
    width: 100%;
    color: #fff;
    line-height: .1;
}

footer a {
    color: #fff;
    line-height: .2;
    letter-spacing: 3px;
    
}


.boton {
    background: #980abc;
    height: 40px;
    color: #fff;
    border-radius: 20px;
    border: 0;
    padding: 0 5%;
    font-family: 'Quicksand', sans-serif; 
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.boton:hover {
    box-shadow: 2px 5px 15px #888888; 
}

.forma {
	width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    height: 100%;
    display: block;
}

.contenedor {
    max-width: 1000px;
    height: auto;
}

.centrado {
	margin: 0 auto;
    float: none !important;
    display: block;
    right: 0;
    left: 0;
}

.menu {    
	height: auto;
    right: 0;
    float: right !important;
	
 }

.menu a {
    width: 20%;
    float: left;
    margin: 55px 0;
    color: #fff;
    text-decoration: none;
    position: relative; 
    line-height: 2.5;
    letter-spacing: 2px;
    font-size: 13px;
}

.menu a:hover { 
    background: #980abc;
    border-radius: 20px;
    height: 33px;

}

.logotipo {
    background: url(../img/logo-mbu120.png) center no-repeat;
    text-indent: -99999999px;
    height: 130px;
    position: relative;
    float: left;
        
}



.back-video {
	width: 100%;
    background: black;
    height: 100%;
}

.back-video iframe {
	background: #000;
  	position: absolute;
  	top: 0; right: 0; bottom: 0; left: 0;
  	z-index: -1; 
  	width: 100%;
  	height: 100%;
}

.front-video {
  	
  	color: #fff;
  	display: block;
  	width: 100%;
    position: relative;
    height: auto;
    float: left;
  	
  	
}


.front-video h1 {

	display: block;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin: 15% 0;

}




.front-video p {
	bottom: 0;
	width: 31%;
	float: left;
	margin: 0 1% 0;
	font-size: 13px;

}


#nosotras {
    height: 100%;
    float: left;
    display: block;
    background: #fff;
    color: #535353;

}

#galeria {
    height: 100%;
    float: left;
    display: block;
    background: #535353;
    color: #fff;
}

#dudas {
    height: 100%;
    float: left;
    display: block;
    background: #fff;
    color: #535353;
}


/* Inicia Galería Parallax */

.p1 {
  width: 100%;
  height:800px;
  background: url("http://o-z.at/samui/1.jpg") fixed no-repeat center center;
  background-size: 70%;

}
.p2 {
  margin: 3px auto;
  width: 100%;
  height: 800px;
  background: url("http://o-z.at/samui/2.jpg") fixed no-repeat center center;
  background-size: 70%;

}.p6 {
  width: 100%;
  height: 800px;
  background: url("http://o-z.at/samui/6.jpg") fixed no-repeat center center;
  background-size: 70%;

}


/* Termina Galería Parallax */






.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.left {
    left: 0 ;
    float: left;
}

.right {
    right: 0;
    float: right !important;

}

.top {
	top: 0;
	float: left;
}

.bottom {
	bottom: 0;
	float: left;
}

.center {
	left: 0;
	right: 0;
	margin: 0 auto;
	float: none;
}

.nov-cin {
	width: 95%;
	float: left;
}

.nov {
	width: 90%;
	float: left;
}

.och-cin {
	width: 85%;
	float: left;
}

.och {
	width: 80%;
	float: left;
}

.set-cin {
	width: 75%;
	float: left;
}

.set {
	width: 70%;
	float: left;
}

.ses-cin {
	width: 65%;
	float: left;
}

.ses {
	width: 60%;
	float: left;
}

.cin-cin {
	width: 55%;
	float: left;
}

.cin {
	width: 50%;
	float: left;
}

.cua-cin {
	width: 45%;
	float: left;
}

.cua {
	width: 40%;
	float: left;
}

.trein-cin {
	width: 35%;
	float: left;
}

.trein {
	width: 33.33%;
	float: left;
}

.vein-cin {
	width: 25%;
	float: left;
}

.vein {
	width: 20%;
	float: left;
}

.quin {
	width: 15%;
	float: left;
}

.diez {
	width: 10%;
	float: left;
}

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.margin-t10 {
    margin-top: 10px;
}

.margin-t20 {
    margin-top: 20px;
}

.margin-t30 {
    margin-top: 30px;
}

.margin-t40 {
    margin-top: 40px;
}

.margin-t50 {
    margin-top: 50px;
}

.margin-l10 {
    margin-left: 10px;
}

.margin-l20 {
    margin-left: 20px;
}

.margin-l30 {
    margin-left: 30px;
}

.margin-l40 {
    margin-left: 40px;
}

.margin-l50 {
    margin-left: 50px;
}

.margin-r10 {
    margin-right: 10px;
}

.margin-r20 {
    margin-right: 20px;
}

.margin-r30 {
    margin-right: 30px;
}

.margin-r40 {
    margin-right: 40px;
}

.margin-r50 {
    margin-right: 50px;
}

.margin-b10 {
    margin-bottom: 10px;
}

.margin-b20 {
    margin-bottom: 20px;
}

.margin-b30 {
    margin-bottom: 30px;
}

.margin-b40 {
    margin-bottom: 40px;
}

.margin-b50 {
    margin-bottom: 50px;
}


.padding-t10 {
    padding-top: 10px;
}

.padding-t20 {
    padding-top: 20px;
}

.padding-t30 {
    padding-top: 30px;
}

.padding-t40 {
    padding-top: 40px;
}

.padding-t50 {
    padding-top: 50px;
}

.padding-b10 {
    padding-bottom: 10px;
}

.padding-b20 {
    padding-bottom: 20px;
}

.padding-b30 {
    padding-bottom: 30px;
}

.padding-b40 {
    padding-bottom: 40px;
}

.padding-b50 {
    padding-bottom: 50px;
}

.back-image {
        
        display: none;
    
    }



@media (max-width:900px) {

    .back-video {
        
        display: none;
    
    }

    .front-video {
        display: none; 
        
    }


    .back-image {
        background: url(../img/fondo-mobile-n.jpg) fixed no-repeat 0 20%;
        float: left;
        display: block; 
        width: 100%;
        height: 100px;
        
    }

    
    #galeria {
        height: 100%;
        float: left;
        display: block;
        background: url(../img/fondo-mobile-n.jpg) fixed no-repeat 0 20%;
        color: #fff;

    }

   





}








